<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Notification Helper</title>
</head>
<body>
    <h1><a href="/">Notification Helper</a></h1>

    <p><a href="/user" th:text="${properties.get('name')}"></a></p>

    <img th:if="${properties.get('picture')}" th:src="${properties.get('picture')}" width="200">
    <p th:if="${properties.get('email')}" th:text="${properties.get('email')}"></p>
    <p th:if="${properties.get('id')}" th:text="${properties.get('id')}"></p>
</body>
</html>