<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header.html :: copy"></div>
</head>
<body>

    <div th:replace="navbar.html :: copy"></div>

    <div class="container">

        <th:block th:if="${properties} != null">

            <form th:if="${properties.get('email')} and ${customerId} == null" action="/users" method="post">
                <input type="submit" value="Click here to Sign Up">
            </form>

            <p th:if="${properties.get('name')}"><a href="/user" th:text="${properties.get('name')}"></a></p>
        </th:block>
    </div>

</body>
</html>