<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header.html :: copy"></div>
</head>
<body>

    <div th:replace="navbar.html :: copy"></div>

    <div class="container">
        <h2>Create new item</h2>

        <form action="/item" method="post">
            <p><label>Name:
                <input type="text" name="newItemName" />
            </label></p>
            <p><label>Description:
                <textarea name="newItemDescription" id="description" cols="30" rows="10"></textarea>
            </label></p>
            <p><label>Send Email:
                <input type="checkbox" name="newItemSendEmail" value="true">
            </label></p>

            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>

        <p><a href="/items">Back to Item list</a></p>
    </div>

</body>
</html>