<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header.html :: copy"></div>
</head>
<body>

    <div th:replace="navbar.html :: copy"></div>

    <div class="container">
        <h2><a th:href="@{/item/{id}(id=${item.getId()})}">Item details</a></h2>

        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Expiry Date</th>
                <th>Send Email</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td th:text="${item.getName()}">Name</td>
                <td th:text="${item.getDescription()}">Description</td>
                <td th:text="${item.getExpiryDate()}">Expiry Date</td>
                <td th:text="${item.isSendEmail()} ? 'yes' : 'no' ">yes</td>
                <td>
                    <a th:href="@{/item/{id}/edit(id=${item.getId()})}">Edit</a>
                </td>
                <td>
                    <a th:href="@{/item/{id}/delete(id=${item.getId()})}">Delete</a>
                </td>
            </tr>
        </table>

        <p><a href="/items">Back to Item list</a></p>
    </div>

</body>
</html>