<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="copy">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Notification Helper</a>
            </div>

            <ul th:if="${properties} != null" class="nav navbar-nav">
                <li><a href="/items">Items</a></li>
            </ul>

            <ul th:if="${properties} == null" class="nav navbar-nav navbar-right">
                <li><a href="/login">Login</a></li>
            </ul>

            <ul th:if="${properties} != null" class="nav navbar-nav navbar-right">
                <li><a href="#" id="logoutButton">Logout</a></li>
            </ul>

            <ul th:if="${properties} != null" class="nav navbar-nav navbar-right authenticated">
                <li><a href="/user" id="user" th:text="${properties.get('name')}"></a></li>
            </ul>
        </div>
    </nav>
    <script type="text/javascript">

        document.getElementById('logoutButton').addEventListener('click', function () {
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    let cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        let cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            function logout() {
                $.ajax({
                    type: "POST",
                    url: "/logout",
                    data: {"_csrf": getCookie('XSRF-TOKEN')}
                })
                    .done(function () {
                        setTimeout(function () {
                            window.location.replace("/");
                        }, 500);
                    });
            }

            $.get('/customer',
                function (customerData) {

                    let tokenValue = customerData.details.tokenValue;

                    $.ajax({
                        type: 'GET',
                        contentType: "application/json",
                        url: "https://accounts.google.com/o/oauth2/revoke?token=" + tokenValue,
                        statusCode: {
                            200: function (){
                                console.log(customerData);

                                setTimeout(function () {
                                    logout();
                                }, 500);
                            },
                            400: function () {
                                logout();
                            }
                        },
                        error : function (xhr, text, err) {
                            alert(xhr.statusCode().status+" "+xhr.statusCode().statusText);
                        }
                    });
                })
                .fail(function () {
                    alert("Failed to get user data from server.");
                });
        });
    </script>
</div>

